* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.img-tea img {
  height: 200px;
  width: 300px;
}

h2 {
  font-size: 30px;
}

div {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
}


header img {
  height: 50px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div .content {
  background-image: url(../resources/images/img-mission-background.jpg);
}
